#logo {
    margin-top: 80px;
    text-align: center;
}

#logo img {
    width: 165px;
    height: 58px;
}

#menu {
    margin-top: 60px;
    margin-bottom: 60px;
}

#menu a {
    font-family: 'Helvetica';
    color: #585958;
    margin: 0px 20px 0px 0px;
    font-size:16px;
    text-decoration: none;
}

#bold {
    font-weight: bold;
}

div {
    text-align: center;
}

#bottom img {
    width: 90%;
}